#logins {
  background: #000;
  padding: 50px;
  margin: 100px auto;
  border-radius: 5px;
  width: 30%;

  display: flex;
  align-items: center;
  flex-flow: column nowrap;

  a {
    display: block;
  }
}
