#navbar {
  height: 60px;
  background: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  .dropdown {
    position: relative;

    .dropdown-content {
      position: absolute;
      right: -20;
      list-style: none;
      padding: 20px;
      background: #e6e6e6;
    }

    .dropdown-title:hover, .link:hover a {
      background: #868686;
      cursor: pointer;
    }
  }
}
